body{
    background-color: rgb(68, 67, 67);
    margin: 10vw;
}
#quote-box{
    background-color: black;
    padding: 15px; 
    border-radius: 20px;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.5);
}
#Quote_author{

    margin-bottom: 10vh;
}
#text{
    color: white;
    border-radius: 20px;
}
#author{
    color: white;
}
#buttons{
    gap: 10px;
}
h1{
    color: white;
    font-size: 50px;
}
